@model BookListViewModel

<div class="row text-center">
    <img style="margin-left:3%" src="https://www.loc.gov/static/home/images/featured/evergreen/main_reading_room.jpg" alt="" width="1100" height="500">
</div>
@foreach (var book in Model.Books)
{
    <partial name="_CardBook" model="@book" />
}