<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>E-Library</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/contents/site.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-item nav-link active" asp-controller="Book" asp-action="List">Books</a>
                    @await Component.InvokeAsync("ShoppingCartSummary")
                    <a class="nav-item nav-link active" asp-controller="Contact" asp-action="Index">Contact</a>
                </div>
            </div>
        </nav>
        <div class="row">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>
